body {
	font-family: Verdana;
	background-color: black;
	text-align: center;
	color: white;
}

h1,
h2 {
	font-weight: Normal;
	font-size: 50px;
}

a {
	color: Aquamarine;
	font-size: 16px;
}


p {
	font-size: 21px;
	color: Gray
}

#copyright {
	text-align: right;
}